/** Thème principal **/
.text-field, .text-area, .ComboBox  {
    -fx-background-color: #f7f6f5;
    -fx-border-color: #28323c;
    -fx-border-width: 1;
    -fx-border-radius: 5 !important;
    -fx-background-radius: 5 !important;
    -fx-padding: 5;
    -fx-font-size: 13px;
}

.context, .background {
    -fx-background-color: #28323c;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 11pt;
}

.EmailLabel {
    -fx-text-fill: #9FE1E7 !important; /* What is this doing ? */
    -fx-underline: true;
}

.EmailLabel:hover{
    -fx-cursor: hand ;
    -fx-text-fill: #0066FF !important; /* What is this doing ? */
}

.CopiableLabelContainer {
    -fx-background-color: #848B93 !important;
}

.popover > .border  {
    -fx-fill: #848B93 !important ;
}

.applicationPane, .notificationPane {
    -fx-background-color: #6a7179;
}

.dialogPane {
    -fx-background-color: #424B54;
    -fx-padding: 5px;
    -fx-border-color: #353F48;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-width: 2px;

}

.dialogPane .label {
    -fx-padding: 10;
    -fx-max-width: 400;
}


/*.dialogPane .glyph-font.label {
    -fx-font-size: 2em;
}*/

.context .label, .label, .label-bright, .button.selected, .context .label{
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}


.table-view .column-header .label, .table-view-small .column-header .label, .menu-bar .label{
    -fx-font-family: "Segoe UI Light";
}

.context .label {
    -fx-opacity: 0.8;
}

.uapp-background {
    -fx-background-color: rgba(255, 153, 85, 0.89)
}


.label {
    -fx-font-size: 11pt;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-opacity: 1;
}

.label-header, .label-header-small, .label-header-smaller {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header-smaller {
    -fx-font-size: 17pt !important;
}

.table-view {
    -fx-base: #28323c;
    -fx-control-inner-background: transparent;
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background,.table-view .column-header, .table-view .filler {
    -fx-background-color: transparent;
}


.table-view .column-header, .table-view .filler {
    -fx-size: 35px;
    -fx-border-color: transparent transparent derive(-fx-base, 80%) transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 15pt;
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}
.table-view-small .column-header .label{
    -fx-font-size: 15px;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #21ac83;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #6a7179 transparent #6a7179;
    -fx-background-color: transparent, derive(#28323c, 0%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.text-field {
    -fx-font-size: 12pt;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-background-radius: 0;
    -fx-opacity: 95%;
    -fx-font-size: 1em;
    -fx-background-color: #353F48;
    -fx-border-color: #424B54;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-cursor: hand;
    -fx-border-width: 1px;
}

.button > .text {
    -fx-font-size: 1em ;
    -fx-font-weight: lighter;
}

.button .label.glyph-font > .text {
    -fx-font-size: 1.8em ;
}

.button:hover {
    -fx-background-color: #505861 ;
    /*-fx-text-fill: #D0D7DF;*/
    -fx-border-color: #B7BEC6;
}

.button:disabled, toggle-button:disabled {
    -fx-opacity: 50%;
}

.defaultButtonBox {
    -fx-alignment: center;
    -fx-spacing: 5px;
    -fx-padding: 5,0,5,0;
    -fx-background-color: inherit ;
    /*-fx-background-radius: 10 10 0 0;*/
    /*-fx-border-width: 2px;*/
    /*-fx-border-color: #3e4859;*/
    /*-fx-border-radius: 10 10 0 0;*/
    /*-fx-effect: innershadow(gaussian, #595e70, 1, 1, 1, 0);*/
}


/*.personView {
    -fx-border-radius: 5px;
}*/

/*
 * Panneau de paramètres + bouton Paramètres
 */
.parameters .label {
    -fx-font-size: 20px;
}


.fullscreenButton {
    -fx-background-image: url("file:img/fullscreen-white.png");
}

.minimizeButton {
    -fx-background-image: url("file:img/minimize-white.png");
}

.fullscreenAndMinimizeButton {
    -fx-pref-height: 30;
    -fx-background-size: contain;
    -fx-background-repeat: stretch, no-repeat;
    -fx-background-position: left;
    -fx-text-alignment: right;
    -fx-padding: 5 22 5 40;
}


.slidingPaneShown {
    -fx-padding: 10 10 10 25;
    -fx-spacing: 15;
    -fx-pref-width: 0;
    -fx-min-width: 0;
    -fx-background-color: #28323c;
    -fx-text-fill: white;
    -fx-effect: innershadow(three-pass-box, #17202e, 7, 0.0 , 5 , 5);
}

.mapShown {
    -fx-border-width: 1;
    -fx-border-color: #1c242c;
}

#buttonOpenMapPane {
    -fx-border-width: 1;
    -fx-border-color: #79828b;
}


.connectionPane *{
    -fx-background-color: #6A7179;
    -fx-text-fill: #d8d8d8;
    -fx-border-color: transparent;
}

.connectionPane .text-field *, .connectionPane .text-field{
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-background-color: white;
}

#loginButton{
    -fx-border-color: #c3c6c9;
    -fx-border-width: 2;
}

#login, #password {
    -fx-text-fill: black;
}

#heureHautApplication {
    -fx-font-size: 175%;
    -fx-padding: 0 0 5px 0;
}

#connectedAs {
    -fx-padding: 8px 0 0 0;
    -fx-font-size: 1.1em !important;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.mapPane, .mapPane *, .notificationBloc, .notificationBloc *{
    -fx-background-color: #6a7179;
    -fx-text-fill: white;
    -fx-font-size: 24px;
}



/*
 * ---- Dossier RAgenda ----
 * Boutons  enregistrer, Couleur des Fleches de Direction
 * Les Boutons nouveau, modifier, supprimer utilisent les memes caracteriqtiques que ceux du dossier Resident
 */

.todayButton .label {
    -fx-opacity: 80%;
    -fx-font-size: 30px;
}



/*
 * Nouvelles
 */
.scrollPaneNews {
    -fx-background-color: #6a7179;
    -fx-padding: 0;
}

.scrollPaneNews:focused {
    -fx-border-width: 0px;
}

.notificationBloc, .notificationBloc *{
    -fx-background-color: #21ac83 !important;
}

.vboxNews  {
    -fx-background-color: #6a7179;
}

.vboxNews > * {
    -fx-border-width: 2;
    -fx-border-color: #5D646D transparent #5D646D transparent;
    -fx-padding: 2;
}

.oneNews:hover {
    -fx-background-color: #848B93;
}

.oneNews Label {
    -fx-padding: 0 0 0 5;
}

.newsTitle {
    -fx-font-size: 1.2em;
}

.newsPic, .newsPic:disabled {
    -fx-background-color: #bb1415,
        linear-gradient(#421d21 0%, #772a2c 20%, #742022 100%),
        linear-gradient(#a53535 0%, #bb292e 5%, #a20e12 50%, #9a0f11 51%, #9b0c13 100%);
    -fx-border-color: #7b0b11;
    -fx-border-width: 1px;
    -fx-background-radius: 9,8,5,4,3;
    -fx-border-radius: 9,8,5,4,3;
    -fx-opacity: 100%;
    -fx-padding: 10 12 10 12;
}

.newsPic .label {
    -fx-opacity: 90%;
}



/*
* Pour modifier le css des notifs
*/
.notification-bar.dark .label {
    -fx-opacity: 100%;
}

.notification-bar.dark > .pane {
    -fx-background-color: -fx-outer-border, -fx-inner-border, linear-gradient(#17202e, #17202e 37%, #1b2a3c) !important;
}

.notification-bar .button {
    /*-fx-background-color: linear-gradient(#4A6782, #2c4557);*/
    -fx-background-color: linear-gradient(#848B94, #6A7179);
}


/*
 * Validation (cf UAppGC.ValidationHelper
 */
.validation {
    -fx-effect: dropshadow(gaussian, #ff483f, 7, 0.0, 0, 0);
}

.invalid {
    -fx-border-color: #ff211e !important;
    -fx-border-width: 2px;
}
.required.invalid {
    -fx-border-color: red !important;
}
.required {
    -fx-border-color: #34ab0a;
    -fx-border-width: 2px !important;
}


/*
 * Mise en forme standard d'un ensemble d'infos (which already exists but anyways...)
 */
.title {
    -fx-text-alignment: center;
    -fx-font-weight: bolder;
    -fx-font-size: 1.7em;
    -fx-padding: 1em;
    -fx-opacity: 1;
    -fx-fill: #ffffff ;
}

.info.label {
    -fx-font-style:italic;
    -fx-font-weight: lighter;
    -fx-font-size: 1.1em;
    -fx-fill:#ffffff  !important;
    -fx-text-fill:#ffffff !important;
    -fx-opacity: 100%;
}

.marqee.label {
    /*-fx-alignment: center;*/
    -fx-font-style:italic;
    -fx-font-weight: lighter;
    -fx-font-size: 1.1em;
    -fx-fill:#ffffff  !important;
    -fx-text-fill:#ffffff !important;
    /*-fx-opacity: 100%;*/
    -fx-padding: 0.7em 0em 0em 0em;
}

.centered {
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.unwrapped {
    -fx-padding:0!important;
}

.description {
    -fx-font-size: 1.2em;
    -fx-fill: white;
}


.LocalDateTimePicker {
    -fx-background-color: inherit;
}

.LocalDateTimePicker .label {
    -fx-text-fill: white;
    -fx-opacity: 1;
}

/* This is the value of the lists spinners in the dateTimePicker (month and year) */
.LocalDateTimePicker .valuePane .label {
    -fx-text-fill: #28323C;
}

.LocalDateTimePicker .label > .text {
    -fx-font-size: 1em;
}

.stylishPopup {
    -fx-border-width: 2px !important;
    -fx-padding:7 7 0 7;
    -fx-border-color: #28323C;
    -fx-background-color: #505861 ;
    -fx-font-size:1em;
}

.LocalDateTimePicker .button {
    -fx-border-width: 1; /* What exactly is this doing ?*/
}

.text-area {
    -fx-background-color: white !important;
    -fx-padding: 2;
}
.CheckListView {
    -fx-background-color: transparent; /* Not changing much of anything */
    -fx-font-color: #33333e !important;
    /*-fx-max-width: 250px !important;*/
}


/*
 * Tooltips
 */
.tooltip {
    -fx-background-color:
    linear-gradient(#0F1923, #28323C);
    /*linear-gradient(#253441, #33333e);*/
    -fx-background-insets: 3,3,3,3;
    -fx-background-radius: 5 5 5 5 !important;
    -fx-max-width: 50 !important;
    -fx-padding: 0.9em 0.9em 0.9em 0.9em; /* 4 8 4 8 */
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}





/*
 * "Joli" launcher
 */

.uAppButton > .text {
    -fx-font-size: 0.7em;
    -fx-font-weight: lighter;
}

.uAppButton > .label.glyph-font  {
    -fx-font-size: 24px !important;
    -fx-opacity: 66%;
}

.uAppButton:hover{
    -fx-background-color: #5D646D;
    -fx-border-color: #9DA4AC;
    /*-fx-border-color: #21ac83;*/
    -fx-border-width: 1px;
}

.uAppButton.loaded:hover, .uAppButton:default, .uAppButton.loaded.selected:hover {
    -fx-background-color: #5D646D;
}

.uAppButton.loaded.selected {
    -fx-border-width: 3px;
    -fx-background-color: #505861;
}

.uAppButton.loaded {
    -fx-border-color: #0CA8AA;
    -fx-border-width: 1px;
}

.uAppButton.loaded .glyph-font  {
    -fx-opacity: 100%;
}

.uAppButton {
    -fx-background-color: #424B54;
    -fx-shape: "m -1083.5715,-52.280674 a 78.214287,78.214287 0 1 1 -156.4286,0 78.214287,78.214287 0 1 1 156.4286,0 z";
    -fx-min-width: 7em;
    -fx-max-width: 7em;
    -fx-min-height: 7em;
    -fx-max-height: 7em;
    -fx-border-width: 0px;
}
