.PresentationBody {
    /*-fx-background-color: #253441;*/
    /*-fx-background-color: palevioletred;*/
    /*-fx-min-height: 0;*/
    /*-fx-max-height: 621;*/
}

.slidingPane {
    -fx-background-color: #5D646D;
    -fx-border-color: transparent transparent transparent #424B54;
    -fx-border-width: 2;
}
