.interactBar {
    -fx-border-color: transparent transparent darkgray transparent;
    -fx-border-width: 1;
}

.table-view-big .table-column{
    -fx-alignment: center;
}

.titled-pane {
    -fx-text-fill: #ffffff;
}

.titled-pane:focused {
    -fx-text-fill: white;
}
.titled-pane > .title
{
    -fx-background-color: #28323c;
    -fx-border-width: 1;
    -fx-border-color: rgba(255, 255, 255, 0.50);
}

.titled-pane .title {
    -fx-font-size: 1.62em;
}

.titled-pane > .title .label{
    -fx-text-fill:white;
}

.titled-pane > .title > .arrow-button .arrow{
    -fx-background-color: rgba(255, 255, 255, 0.50);
}

.titled-pane:focused > .title > .arrow-button .arrow {
    -fx-background-color: #ffffff;
}

/* La couleur que la cellule prend quand on édite */
TextFieldTableCell > * {
    -fx-background-color: #6a7179;
}
TextFieldTableCell > *:focused {
    -fx-background-color: rgba(40,50,60,0.8);
}
.text-field-table-cell .text-field, .editing {
    -fx-text-fill: #28323c;
}
