.Agenda {
    -fx-background-color: white !important;
}
.Appointment {
    -fx-border-color:#5D646D; /*What is this changing ?*/
    -fx-border-width:2px;
}

.Appointment .AppointmentLabel {
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.Appointment .header, .Appointment .footer{
    -fx-background-color: #353F48;
    -fx-text-fill: #ffffff !important;
}
.Appointment > .header > .button {
    -fx-font-size: 10px !important;
}

.Appointment .MenuButton {
    -fx-background-color: #353F48;
    -fx-border-width: 0 !important;
}
.Appointment .MenuButton .label {
    -fx-font-size: 1.0em !important;
}
.Appointment .MenuButton:hover {
    -fx-background-color: #505861 !important;
}

.Appointment .AppointmentPeriod {
    -fx-font-size: 1em !important;
    -fx-font-style: italic !important;
    -fx-alignment: center !important;
    -fx-text-fill: #ffffff  !important;
    -fx-background-color: #5D646D  !important;
}


.calendarExtras {

}

.calendarNav > .label.date{
    -fx-text-fill: whitesmoke;
    -fx-opacity: 100%;
    -fx-font-size: 16px;
    -fx-font-style: italic;
}

.calendarNav .button {
    -fx-border-width: 0;
    -fx-font-family: "Segoe UI Semibold";
    -fx-background-color: inherit ;
}
.calendarNav .button .label{
    -fx-font-size: 23px !important;
    -fx-text-fill: #353F48 !important;
    -fx-opacity: 100%;
}

.calendarNav .button:hover .label {
    -fx-text-fill: white !important;
}


.AgendaWeekSkin .Week {
    -fx-background-color: #4e5c68;
}

.AgendaWeekSkin .Week.weekend {
    -fx-background-color: #5D646D; /* What is this changing ?*/
}


.AgendaWeekSkin .HourLabel {
    -fx-fill: aliceblue;
    -fx-stroke: transparent;
}

.AgendaWeekSkin .HourLine {
    -fx-fill: transparent;
    -fx-stroke: LIGHTGRAY;
}

.AgendaWeekSkin .HalfHourLine {
    -fx-fill: transparent;
    -fx-stroke: LIGHTGRAY;
    -fx-stroke-dash-array: 4 4 4 4;
}

.AgendaWeekSkin .DayHeader {
    -fx-fill: #ffffff;
    -fx-border-color:LIGHTGRAY;
    -fx-border-width: 0px 0px 1px 1px;
}

.AgendaWeekSkin .DayHeader .weekend {
    -fx-text-fill: BLACK;
    -fx-font-weight: bold;
}

.AgendaWeekSkin .Day {
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-border-color:LIGHTGRAY;
    -fx-border-width: 0px 0px 0px 1px;
}


/*TODO: for some reason this does not work: removing today from the style classes does not clear the grayish background*/
.AgendaWeekSkin .today {
    -fx-background-color: rgba(0,255,255,0.5) !important;
}


.AgendaWeekSkin .Appointment {
    -fx-border-color: #353F48;
    -fx-border-width: 1px;
}

.AgendaWeekSkin .AppointmentTimeLabel {
    -fx-fill: BLACK;
    -fx-stroke: transparent;
    -fx-font-size:10px;
}

.AgendaWeekSkin .AppointmentLabel {
    -fx-fill: BLACK;
    -fx-stroke: transparent;
}

.AgendaWeekSkin .DurationDragger {
    -fx-fill: #00000040;
}

.AgendaWeekSkin .MenuIcon {
    -fx-fill: #00000040;
}

.AgendaWeekSkin .GhostRectangle {
    -fx-fill: transparent;
    -fx-stroke: #00000080;
    -fx-stroke-width: 1;
    -fx-stroke-dash-array: 4 4 4 4;
}

.AgendaWeekSkin .Selected {
    -xfx-color: -fx-focused-base;
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius: 6.4, 5, 4, 3;
}

.AgendaWeekSkin .History {
    -fx-stroke: transparent;
    -fx-fill: #FFFFFF;
}

.AgendaPopup {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0,0,1,2;
    -fx-background-radius: 5,5,4,3;
    -fx-padding: 0.766667em 0.733333em 0.75em 0.733333em;
    -fx-text-fill: -fx-text-base-color;
}

/* vacuity block causes an IndexOutOfBoundsException*/
.AgendaPopup .AppointmentGroups {
}


.AgendaPopup .AppointmentGroup {
    -fx-border-color: WHITE;
    -fx-border-width: 1px;
}

/** sinon bug du glyph **/
.button > .glyph-font.label{
    -fx-font-size: 13px;
}


.group0 { -fx-background-color: #FFFF00; }
.group1 { -fx-background-color: #FFCC00; }
.group2 { -fx-background-color: #FF9933; }
.group3 { -fx-background-color: #FF6600; }
.group4 { -fx-background-color: #FA573C; }
.group5 { -fx-background-color: #FF5050; }
.group6 { -fx-background-color: #FF0066; }
.group7 { -fx-background-color: #FF3399; }
.group8 { -fx-background-color: #FF33CC; }
.group9 { -fx-background-color: #FF00FF; }
.group10 { -fx-background-color: #CC33FF; }
.group11 { -fx-background-color: #9966FF; }
.group12 { -fx-background-color: #6666FF; }
.group13 { -fx-background-color: #3366FF; }
.group14 { -fx-background-color: #0066FF; }
.group15 { -fx-background-color: #0099FF; }
.group16 { -fx-background-color: #00CCFF; }
.group17 { -fx-background-color: #33CCCC; }
.group18 { -fx-background-color: #00FFCC; }
.group19 { -fx-background-color: #00FF99; }
.group20 { -fx-background-color: #00FF00; }
.group21 { -fx-background-color: #33CC33; }
.group22 { -fx-background-color: #66FF33; }
.group23 { -fx-background-color: #99FF33; }
