
#contactsBox {
    -fx-alignment: center;
    /*-fx-background-color: deeppink !important;*/
    /*-fx-background-radius: 10 ;*/
    -fx-background-color: #5D646D;
}

#contactsBox .defaultButtonBox {
    /*-fx-background-color: deepskyblue !important;*/
    -fx-border-width: 0 !important;
    -fx-effect: null !important;
}

.contactTableView .column-header {
    -fx-font-style:italic;
    -fx-font-weight: lighter;
}
